the result is cluster 2 scores the best

<a href="https://colab.research.google.com/github/lucascheng24/COMP4432ML-DataProduct-A_Million_News_Headlines/blob/main/analysis/analysis_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
from sklearn.metrics import silhouette_score
from sklearn.metrics import calinski_harabasz_score

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# dataPath = '../processed_data/w2v_vec100_124418.csv'

# df_headlines = pd.read_csv(dataPath)

df_headlines = pd.read_csv('/content/drive/MyDrive/COMP4432/processed_data_set/w2v_vec100_124418.csv')

df_headlines.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-1.605173,2.918016,3.635895,3.032418,-1.067833,-0.619074,0.077744,4.260468,-1.785537,-0.382405,...,-0.576467,-4.343246,-4.035582,2.030439,1.914190,1.162983,0.525023,-0.849185,4.737711,3.298404
1,-3.355265,2.932322,-1.542112,-1.061370,-0.537021,1.309853,0.297997,1.872366,2.512606,-0.485878,...,0.682736,1.090218,1.956932,0.150799,0.772252,0.546109,6.198019,1.977730,0.573191,0.081632
2,-3.575494,2.628979,-1.157703,2.871970,5.281962,0.134612,-0.685923,7.099079,-2.276028,-0.584899,...,0.798914,0.927138,0.364193,-0.894416,1.817210,1.839562,1.978682,0.768676,1.631881,1.259080
3,-2.738465,2.297199,-3.552115,-0.153152,3.881711,3.116054,-0.486585,6.104052,-0.640551,2.735867,...,0.392527,-0.798737,0.392198,-4.589910,2.451342,1.717005,6.155131,3.732857,4.377616,-0.780670
4,-0.720574,1.926974,-3.863183,2.911540,-2.030549,2.054497,0.600766,1.409616,-3.638590,5.000760,...,-1.621431,-1.019849,-0.137011,-1.120815,-2.129053,1.414706,0.391231,-3.103347,3.749530,-1.555853

In [5]:
df_headlines.shape

(124418, 100)

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [8]:

# Try different numbers of clusters
for num_clusters in range(2, 5):
    # Cluster the word vectors using k-means clustering
    kmeans = KMeans(n_clusters=num_clusters, random_state=0).fit(df_headlines)
    
    # Get the cluster assignments for each word
    word_clusters = kmeans.labels_

    # Calculate the Silhouette score and Calinski-Harabasz index
    silhouette_score_val = silhouette_score(df_headlines, word_clusters)
    calinski_harabasz_score_val = calinski_harabasz_score(df_headlines, word_clusters)

    # Print the scores for this number of clusters
    print(f'Num clusters: {num_clusters}, Silhouette score: {silhouette_score_val}, Calinski-Harabasz index: {calinski_harabasz_score_val}')

Num clusters: 2, Silhouette score: 0.08030026660083242, Calinski-Harabasz index: 10314.614431595824
Num clusters: 3, Silhouette score: 0.07609134094005948, Calinski-Harabasz index: 9344.310076806854
Num clusters: 4, Silhouette score: 0.06393468294660043, Calinski-Harabasz index: 7581.221782618852

In [11]:

# Try different numbers of clusters
for num_clusters in range(5, 11):
    # Cluster the word vectors using k-means clustering
    kmeans = KMeans(n_clusters=num_clusters, random_state=0).fit(df_headlines)
    
    # Get the cluster assignments for each word
    word_clusters = kmeans.labels_

    # Calculate the Silhouette score and Calinski-Harabasz index
    silhouette_score_val = silhouette_score(df_headlines, word_clusters)
    calinski_harabasz_score_val = calinski_harabasz_score(df_headlines, word_clusters)

    # Print the scores for this number of clusters
    print(f'Num clusters: {num_clusters}, Silhouette score: {silhouette_score_val}, Calinski-Harabasz index: {calinski_harabasz_score_val}')

Num clusters: 5, Silhouette score: 0.038234167515585345, Calinski-Harabasz index: 6623.603209726552
Num clusters: 6, Silhouette score: 0.03926510166152535, Calinski-Harabasz index: 5982.812727196816
Num clusters: 7, Silhouette score: 0.041744022069625304, Calinski-Harabasz index: 5437.7133628586125
Num clusters: 8, Silhouette score: 0.03985672140788628, Calinski-Harabasz index: 4996.520841316569
Num clusters: 9, Silhouette score: 0.021222112549876885, Calinski-Harabasz index: 4650.66012536989
Num clusters: 10, Silhouette score: 0.022709396058557475, Calinski-Harabasz index: 4359.765309003362